/site/resources/_gen
/site/public
/site/package-lock.json
/site/node_modules
/site/static/images/auto
/site/static/code
/figures/*.svg
/figures/*.png
/figures/*.pdf
*.o
/code/blur_image/*/blur
/code/calculate_pi/*/calcpi
/code/add_numbers/*/addnumbers
/code/coursework/main
/code/coursework/model-solution.c
.DS_Store
/site/static/coursework.tgz
.vscode/
.ipynb_checkpoints/
/site/static/slides/*.html
